main {
    margin-top: -4px;
}

.gallery {
    width: 170px;
    height: 170px;
    border-radius: 4px;
}

.zoom {
    padding: 50px;
    background-color: #f1f1f1;
    transition: transform .2s; /* Animation */
    width: 175px;
    height: 175px;
    margin: 0 auto;
  }
  
  .zoom:hover {
    transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }