footer {
    font-family: 'Montserrat', sans-serif;
    background-color: #5133a4;
    color: #ffffff;
    position: relative;
    top: 45px;
}

#foot-text {
    font-weight: bold;
    padding-left: 10px;
}

#foot-img {
    position: relative;
    width: 35px;
}